:root{
    --size : 100px;
    --color : #a8a3a3;
    --addButtonSize : 50px;
    --addRowSectionWidth : 150px;
}
.game_button{
    width : var(--size);
    height: var(--size);
    background-color : var(--color);

}
#addRowButton{
    width : var(--addButtonSize);
    height: var(--addButtonSize);
    background-color: rgb(78, 197, 236);
}
/* td{
    border: 1px solid black;
} */
#buttonsTd{
    width : var(--size);
    height : var(--size);
}   
#addButtonSection{
    width: var(--addRowSectionWidth);
    text-align: right;
}