:root{
    --size : 100px;
    --color : #a8a3a3;
}
.game_button{
    width : var(--size);
    height: var(--size);
    background-color : var(--color);

}
/* #addRowButton{
    position: relative;
    top: 50%;
    right: 10%;

} */
td{
    border: 1px solid black;
}

